/* <div className="block">
            <img src={airplane_icon} alt="aviasales" />
            <h1 className='block-title'>Aviasales</h1>
        </div> */

.block {
    display: flex;
    gap: 34px;
    justify-content: flex-start;
    align-items: center;
}
